@import '../../_css/common';

.stacks {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stacks__container {
  display: flex;
  flex-direction: column-reverse;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    text-transform: uppercase;
    @include display-lead(700);
  }
}